<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
        </ul>
        <ul class='navbar-nav navbar-right'>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
              <%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %>
            <% else %>
              <%= link_to "Log in", login_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <% if !logged_in? %>
          <li class="nav-item ml-3">
            <%= link_to 'Log in', login_path, class: 'ui primary button' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>